<h3>Информация о книге</h3>

<p>Название: <%= @book.title %></p>
<p>Автор: <%= @book.author %></p>
<p>Инвентаризационный номер: <%= @book.inventory_number %></p>
<p>Жанр: <%= @book.genre %></p>
<p>Возрастной рейтинг: <%= @book.age_rating %></p>
<p>Количество книг в библиотеки: <%= @book.books_in_stock %> шт.</p>
<p>Количество книг на руках: <%= @book.books_out_of_stock %> шт.</p>
